In [1]:
from sqlalchemy import create_engine, MetaData, Table, select, desc, func, case, cast, Float

In [2]:
mysql_url = "mysql+pymysql://user:password@localhost:3306/exampledb"
engine = create_engine(mysql_url)
metadata = MetaData()

In [3]:
census = Table("census", metadata, autoload_with=engine)

In [4]:
census

Table('census', MetaData(), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), schema=None)

In [29]:
state_fact = Table("state_fact", metadata, autoload_with=engine)

state_fact.columns.values()

[Column('id', VARCHAR(length=256), table=<state_fact>),
 Column('name', VARCHAR(length=256), table=<state_fact>),
 Column('abbreviation', VARCHAR(length=256), table=<state_fact>),
 Column('country', VARCHAR(length=256), table=<state_fact>),
 Column('type', VARCHAR(length=256), table=<state_fact>),
 Column('sort', VARCHAR(length=256), table=<state_fact>),
 Column('status', VARCHAR(length=256), table=<state_fact>),
 Column('occupied', VARCHAR(length=256), table=<state_fact>),
 Column('notes', VARCHAR(length=256), table=<state_fact>),
 Column('fips_state', VARCHAR(length=256), table=<state_fact>),
 Column('assoc_press', VARCHAR(length=256), table=<state_fact>),
 Column('standard_federal_region', VARCHAR(length=256), table=<state_fact>),
 Column('census_region', VARCHAR(length=256), table=<state_fact>),
 Column('census_region_name', VARCHAR(length=256), table=<state_fact>),
 Column('census_division', VARCHAR(length=256), table=<state_fact>),
 Column('census_division_name', VARCHAR(length=256), table=<state_fact>),
 Column('circuit_court', VARCHAR(length=256), table=<state_fact>)]

In [30]:
census.columns.values()

[Column('state', VARCHAR(length=30), table=<census>),
 Column('sex', VARCHAR(length=1), table=<census>),
 Column('age', INTEGER(), table=<census>),
 Column('pop2000', INTEGER(), table=<census>),
 Column('pop2008', INTEGER(), table=<census>)]

In [31]:
print(f"create table census(\n")
for column in census.columns:
    print(f"{column.name} {column.type},")
print(f")\n")

print(f"create table state_fact(\n")
for column in state_fact.columns:
    print(f"{column.name} {column.type},")
print(f")\n")

create table census(

state VARCHAR(30),
sex VARCHAR(1),
age INTEGER,
pop2000 INTEGER,
pop2008 INTEGER,
)

create table state_fact(

id VARCHAR(256),
name VARCHAR(256),
abbreviation VARCHAR(256),
country VARCHAR(256),
type VARCHAR(256),
sort VARCHAR(256),
status VARCHAR(256),
occupied VARCHAR(256),
notes VARCHAR(256),
fips_state VARCHAR(256),
assoc_press VARCHAR(256),
standard_federal_region VARCHAR(256),
census_region VARCHAR(256),
census_region_name VARCHAR(256),
census_division VARCHAR(256),
census_division_name VARCHAR(256),
circuit_court VARCHAR(256),
)

In [7]:
connection = engine.connect()

# Determine state names by population difference from 2008 to 2000

In [8]:
# Build query to return state names by population difference from 2008 to 2000: stmt
stmt = select(
    census.columns.state,
    func.sum(census.columns.pop2008 - census.columns.pop2000).label("pop_change")
).group_by(census.columns.state).order_by(desc("pop_change")).limit(5)

In [9]:
results = connection.execute(stmt).fetchall()

for result in results:
    print(f"{result.state}: {result.pop_change}")

Texas: 3383317
California: 2779560
Florida: 2281569
Georgia: 1460732
Arizona: 1336836

# Determining the overall percentage of women

In [10]:
# Build an expression to calculate female population in 2000
female_pop2000 = func.sum(case((census.columns.sex == "F", census.columns.pop2000), else_=0))

In [11]:
total_pop2000 = cast(func.sum(census.columns.pop2000), Float)

In [12]:
stmt = select(female_pop2000 / total_pop2000 * 100)

In [13]:
percentage_female = connection.execute(stmt).scalar()

percentage_female

51.09467595988849

# Relationships

In [27]:
# We need to define state_fact
# Build a statement to join census and state_fact tables: stmt
stmt = select(census.columns.pop2000.label("pop2000"), state_fact.columns.abbreviation.label("abbreviation"))

# Execute the statement and get the first result: result
result = connection.execute(stmt).first()
result
# Loop over the keys in the result object and print the key and value
#for key in result.keys():
#    print(key, getattr(result, key))

/var/folders/xy/0r3_1y9d2lb3rl3znp1dmszc0000gn/T/ipykernel_91239/2879257166.py:6: SAWarning: SELECT statement has a cartesian product between FROM element(s) "census" and FROM element "state_fact".  Apply join condition(s) between each element to resolve.
  result = connection.execute(stmt).first()

(89600, 'UT')

In [ ]:
# Build a statement to select the census and state_fact tables: stmt
stmt = select([census, state_fact])

# Add a select_from clause that wraps a join for the census and state_fact
# tables where the census state column and state_fact name column match
stmt_join = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name))

# Execute the statement and get the first result: result
result = connection.execute(stmt_join).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

In [ ]:
# Build a statement to select the state, sum of 2008 population and census
# division name: stmt
stmt = select([
    census.columns.state,
    func.sum(census.columns.pop2008),
    state_fact.columns.census_division_name
])

# Append select_from to join the census and state_fact tables by the census state and state_fact name columns
stmt_joined = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name)
)

# Append a group by for the state_fact name column
stmt_grouped = stmt_joined.group_by(census.columns.state, state_fact.columns.name)

# Execute the statement and get the results: results
results = connection.execute(stmt_grouped).fetchall()

# Loop over the results object and print each record.
for record in results:
    print(record)

# Working with hierarchical tables

In [ ]:
# Using alias to handle same table joined queries

# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select names of managers and their employees: stmt
stmt = select(
    [managers.columns.name.label('manager'),
     employees.columns.name.label("employee")]
)

# Match managers id with employees mgr: stmt_matched
stmt_matched = stmt.where(managers.columns.id == employees.columns.mgr)

# Order the statement by the managers name: stmt_ordered
stmt_ordered = stmt_matched.order_by(managers.columns.name)

# Execute statement: results
results = connection.execute(stmt_ordered).fetchall()

# Print records
for record in results:
    print(record)

In [ ]:
# Leveraging functions and group_bys with hierarchical data


# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select names of managers and counts of their employees: stmt
stmt = select([managers.columns.name, func.count(employees.columns.id)])

# Append a where clause that ensures the manager id and employee mgr are equal
stmt_matched = stmt.where(managers.columns.id == employees.columns.mgr)

# Group by Managers Name
stmt_grouped = stmt_matched.group_by(managers.columns.name)

# Execute statement: results
results = connection.execute(stmt_grouped).fetchall()

# print manager
for record in results:
    print(record)

# Handling large ResultSets

In [ ]:
# Start a while loop checking for more results
while more_results:
    # Fetch the first 50 results from the ResultProxy: partial_results
    partial_results = results_proxy.fetchmany(50)

    # if empty list, set more_results to False
    if partial_results == []:
        more_results = False

    # Loop over the fetched records and increment the count for the state
    for row in partial_results:
        if row.state in state_count:
            state_count[row.state] += 1
        else:
            state_count[row.state] = 1

# Close the ResultProxy, and thus the connection
results_proxy.close()

# Print the count by state
print(state_count)